/**
 *
 * MODAL WINDOW
 *
 * ========================================================================= */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
  text-align: left;

  @media screen and (max-width: 500px) {
    background-color: transparent;
  }

  &-content {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalOpen;
    animation-duration: $modal-duration;
    background: $bgcolor;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: $white;
    padding-top: 10px;

    @media screen and (max-width: 768px) {
      margin-top: 75px;
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &-body {
    padding: 15px 8%;
    margin: 15px auto;

    @media screen and (max-width: 768px) {
      padding-top: 0;
    }
  }

  &-close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);

    @media screen and (max-width: 768px) {
      right: 10px;
      top: 10px;
      transform: scale(0.4);
    }

    &::before,
    &::after {
      position: absolute;
      left: 15px;
      content: " ";
      height: 33px;
      width: 3px;
      background-color: $white;
    }
    &::before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
.modalEnd {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
  text-align: left;
  position: fixed;
  display: none;
  z-index: 2;

  &-content {
    @include flexCenterCenter;
    height: 80%;
    border-radius: 10px;
  }
  &-body {
    @include flexCenterCenter;
    flex-direction: column;
    height: 100%;
  }
  .message-txt {
    @include flexCenterCenter;
    text-align: center;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;

    @media screen and (max-width: 768px) {
      font-size: 30px;
    }
  }

  .modalEnd-close-btn.btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    top: unset;
    right: unset;
    width: unset;
    height: unset;
    display: block;
    transform: translateX(-50%);
    margin: unset;
    padding: 12px 82px;
    border-radius: 7px;
    border: 0;
    font-size: 14px;

    &::after,
    &::before {
      content: none;
    }
  }
}

.form {
  &-field {
    padding-bottom: 15px;
    position: relative;

    &.field-locations {
      border: 2px solid transparent;
      border-radius: 8px;

      &.invalid {
        border: 2px solid $errorColor;
        box-shadow: inset 0px 0px 2px 2px transparent;
      }

      .data-error {
        padding-left: 10px;
        color: $errorColor;
      }
    }
    &.field-terms {
      &[data-error] {
        &::after {
          bottom: 50px;
        }
      }
    }

    &[data-error] {
      &::after {
        content: attr(data-error);
        position: absolute;
        right: 5px;
        display: block;
        color: $errorColor;
        font-size: 10px;
        min-height: 15px;
        font-weight: normal;
        line-height: 15px;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        visibility: hidden;
        transition: 0.3s;
        min-height: 15px;
      }
    }
    &[data-error-visible="true"] {
      &::after {
        visibility: visible;
      }
      & .text-control {
        border: 1px solid $errorColor;
      }
    }
  }
}
label {
  font-family: $font-default;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
  padding-top: 10px;
}
input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;

  &.text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 1.125rem;
    font-weight: 400;
    height: 48px;
  }
  &.invalid {
    border: 2px solid $errorColor;
    box-shadow: inset 0px 0px 2px 2px transparent;
  }
  &.valid {
    border: 2px solid $checkboxColor;
    box-shadow: inset 0px 0px 2px 0px $checkboxColor;
  }
}
/* 
  input[data-error]::after {
      content: attr(data-error);
      font-size: 0.4em;
      color: red;
  } */
.checkbox-label--rounded,
.checkbox-label--squared {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
  padding-top: 0;

  & .checkbox-icon {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid $checkboxBg;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: -30px;
    top: -1px;
    transition: 0.3s;

    &::after {
      content: "";
      width: 13px;
      height: 13px;
      background-color: $checkboxColor;
      border-radius: 50%;
      text-indent: 29px;
      white-space: nowrap;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;
      opacity: 0;
    }
  }
}

.checkbox-label--squared {
  .checkbox-icon {
    border-radius: 4px;
    border: 0;
    background: #c4c4c4;

    &::after {
      width: 11px;
      height: 8px;
      border-radius: 2px;
      background: transparent;
      border: 2px solid transparent;
      border-bottom-color: $white;
      border-left-color: $white;
      transform: rotate(-55deg);
      left: 21%;
      top: 19%;
    }
  }
}

.checkbox-input {
  display: none;

  &:checked {
    + .checkbox-label--squared .checkbox-icon {
      background: $checkboxColor;
    }
    + .checkbox-label--rounded .checkbox-icon {
      border-color: $checkboxColor;
    }
    + .checkbox-label--rounded .checkbox-icon::after,
    + .checkbox-label--squared .checkbox-icon::after {
      opacity: 1;
    }
  }
}

.btn-submit,
.btn-signup {
  @include btn;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  padding: 12px 82px;
  border: 0;
}
/* custom select styles */
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;

  select {
    display: none;
  }
}

.select-selected {
  background-color: $white;

  /* Style the arrow inside the select element: */
  &::after {
    position: absolute;
    content: "";
    top: 10px;
    right: 13px;
    width: 11px;
    height: 11px;
    border: 3px solid transparent;
    border-bottom-color: $primary;
    border-left-color: $primary;
    transform: rotate(-48deg);
    border-radius: 5px 0 5px 0;
  }
  /* Point the arrow upwards when the select box is open (active): */
  &.select-arrow-active {
    &::after {
      transform: rotate(135deg);
      top: 13px;
    }
  }
}
.select-selected .select-items div,
.select-selected {
  color: $black;
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: $white;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* custom select end */
.text-label {
  font-weight: normal;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hero {
  min-height: 93vh;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;

  @media screen and (max-width: 800px) {
    display: block;
    box-shadow: unset;
  }
  @media screen and (max-width: 540px) {
    min-height: unset;
  }

  &-content {
    padding: 51px 67px;
    grid-column: span 4;
    background: #232323;
    color: $white;
    position: relative;
    text-align: left;
    min-width: 424px;

    @media screen and (max-width: 800px) {
      background: $white;
      color: $black;
      padding: 20px 0;
    }
    @media screen and (max-width: 540px) {
      min-width: unset;
      padding: 0;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background: $bgcolor;
      position: absolute;
      right: -80px;
      top: 0;

      @media screen and (max-width: 800px) {
        content: unset;
      }
    }

    .btn-signup {
      outline: none;
      text-transform: capitalize;
      font-size: 1.563rem;
      padding: 15px 23px;
      margin: 0;
      margin-top: 59px;

      @media screen and (max-width: 800px) {
        display: none;
        font-size: 1.25rem;
      }
    }

    & > * {
      position: relative;
      z-index: 1;
    }
  }

  &-headline {
    font-size: 6rem;
    font-weight: normal;
    white-space: nowrap;

    @media screen and (max-width: 800px) {
      font-size: 4.5rem;
      white-space: normal;
    }
    @media screen and (max-width: 540px) {
      font-size: 2.5rem;
    }
  }

  &-text {
    width: 146%;
    font-weight: normal;
    margin-top: 57px;
    padding: 0;

    @media screen and (max-width: 800px) {
      width: unset;
      font-size: 1.5rem;
    }
    @media screen and (max-width: 540px) {
      font-size: 0.813rem;
      margin-top: 30px;
    }
  }

  &-img {
    grid-column: span 8;

    img {
      width: 100%;
      height: 100%;
      display: block;
      padding: 0;

      @media screen and (max-width: 800px) {
        border-radius: 10px;
        margin-top: 40px;
      }
    }
  }

  & > .btn-signup {
    display: none;

    @media screen and (max-width: 800px) {
      display: block;
      margin: 32px auto 10px;
      padding: 12px 35px;
    }
  }
}
