@mixin btn {
  background: $primary;
  cursor: pointer;
  color: $white;

  &:hover {
    background: $secondary;
  }
}

@mixin btnSubmit {
  margin-top: 0.5em;
  padding: 1em;
  border-radius: 15px;
  font-size: 0.875rem;
}
