/**
 *
 * VARIABLES
 *
 * ========================================================================= */
 
 $font-default: "DM Sans", Arial, Helvetica, sans-serif;
 $font-slab: $font-default;
 $modal-duration: 0.8s;

 $primary : #fe142f;
 $secondary : #3876ac;

 $errorColor: #e54858;
 $checkboxColor: #279e7a;

 $white: #fff;
 $black: #000;
