/**
 *
 * VARIABLES
 *
 * ========================================================================= */
 $modal-duration: 0.8s;

 $primary : #fe142f;
 $secondary : #3876ac;

 $errorColor: #ff4e60;
 $checkboxColor: #279e7a;
 $checkboxBg: #c4c4c4;

 $white: #fff;
 $black: #000;
 $bgcolor: #232323;
